
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form id="form1">
    <label>Select:</label>
    <input type="file" value="" id="fileupload1" />
    <br />
    <input type="submit" value="" id="uploadBtn" />

    <div class="progress" style="display : none;">
        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <span id="progressbar-label">Loading ..</span>
        </div>
    </div>
</form>
