
@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <label>File Name<span id="ctlProgress"></span></label>
        </div>
        <div class="col-lg-10"><input type="text" id="txt" /></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label>Upload File <span id="ctlProgress"></span></label>
        </div>
        <div class="col-lg-10"><input type="file" id="uploadFile" /></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <input type="button" value="Upload" id="btn" />
        </div>
    </div>
</div>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#btn").click(function () {
            debugger;
            var txt = $("#txt").val();
            console.log(txt);
            var fileUpload = $("#uploadFile").get(0);
            var files = fileUpload.files;
            //Create FormData object
            var fileData = new FormData();
            //Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
                console.log(files[i]);
            }
            //var _data = { fileName: $("#txt").val() };
            $.ajax({
                xhr: function (e) {
                    var xhr = new window.XMLHttpRequest();

                    //Upload progress
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            console.log(percentComplete * 100);
                            $("#ctlProgress").text(percentComplete * 100);
                        }
                    }, false);

                    ////Download progress
                    //xhr.addEventListener("progress", function (evt) {
                    //    if (evt.lengthComputable) {
                    //        var percentComplete = evt.loaded / evt.total;
                    //        //Do something with download progress
                    //        console.log(percentComplete);
                    //    }
                    //}, false);

                    return xhr;
                },
                url: '/FileUpload/UploadFile',
                data: { "fileName": txt },//fileData,//{ vari: '123' },
                type: "POST",
                //contentType: false, // Not to set any content header
                //processData: false, // Not to process data
                success: function (result) {
                    console.log(result);
                },
                error: function (error) {
                    debugger;
                    alert(error);
                }
            });

        });
    });

</script>